@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300;400&family=Staatliches&family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato&family=Roboto:wght@300;400&family=Staatliches&family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Oswald:wght@500&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* colors for all css */
:root {


    --main-color: #087f5b;
    --primary-color: #2f9e44;
    --primary-shades: #1d8832;
    --para-color: #868e96;
    --hepler-color: #ffec99;
    --white: #fff;
    --dark: #6dbb7c;
    --tree: #2f9e44;
    --btn: #6dbb7c;
    --black: #000000;
    --navbar-text: #59b46a;
    --more-dark: #005d22;
    --main: #11503b;
    --star: #ffbf00;

}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 70px;
    font-weight: 500;
    color: var(--main-color);

}

h2 {
    text-decoration: none;
    font-family: cursive;
    font-weight: 600;
    font-size: 20px;
    color: var(--navbar-text);

}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    line-height: 54px;
    color: var(--btn);
}

h4 {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-transform: capitalize;
    color: var(--navbar-text);

}

h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 44px;
    padding-bottom: 60px;
    color: var(--main-color);
    padding-bottom: 8px;


}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--primary-color);
    margin: 15px 0 20px 0;
}

body {
    width: 100%;
}

.section {
    padding: 80px 80px;
}

/* header part starting from here */
#hdr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 20px 80px;
    background: var(--main);
    box-shadow: 0px 5px 15px var(--tree);
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
}

/* css for logo img and logo text in navbar */
.logoimg {
    height: 80px;
}

.logo-manage {
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo {
    padding: 0 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: var(--white);
}

/* creating navbar starts */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;

}

#navbar li a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--white);
    transition: 0.3s ease;
}

#navbar li a:hover {
    color: var(--btn);
}

#navbar li a:hover,
#navbar li a.active {
    color: var(--btn);

}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: var(--btn);
    position: absolute;
    bottom: -4px;
    left: 20px;

} 






/* for navbar sign up button(css)*/

.btn-navbar {

    display: inline-block;
    padding: 7px 8px;
    border: none;
    border-radius: 160px;
    color: var(--white);
    letter-spacing: 1px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn-navbar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--navbar-text);
    color: var(--white);
    border-radius: 160px;
    z-index: -2;
}

.btn-navbar:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--main-color);
    transition: all 0.3s;
    border-radius: 160px;
    z-index: -1;
}

.btn-navbar:hover {
    color: var(--white);
}

.btn-navbar:hover:before {
    width: 100%;
}

/* Slider part CSS starting */

#imageslide {
    position: relative;
    height: 650px;
    width: 100%;
    overflow: hidden;
}

#imageslide img {
    height: 100%;
    width: 100%;
}


/* hero section start */
#hero {
    position: absolute;
    height: 70vh;
    width: 100%;
    background-position: center;
    padding: 0 80px;
    top: 25%;
    right: 0%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

#hero .btnone {
    border-radius: 4px;
    background-color: var(--main-color);
    border: none;
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 8px;
    width: 120px;
    transition: all 0.5s;
    box-shadow: var(--main);
}
#hero .btnone a{
    text-decoration: none;
    color: var(--white);
}

#hero .btnone {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#hero .btnone:after {
    content: '»';
    font-size: 18px;
    position: absolute;
    opacity: 0;
    top: 6px;
    right: -5px;
    transition: 0.5s;
}

#hero.btnone:hover {
    padding-right: 24px;
    padding-left: 8px;
}

#hero .btnone:hover:after {
    opacity: 1;
    right: 10px;
}

/* featured section CSS starts from here---> */
#featuredproducts {
    text-align: center;
    padding: 40px 50px;
}


#featuredproducts .line {
    position: relative;
    width: 30%;
    margin-left: 490px;
}


#featuredproducts .product-ctn {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    gap: 45px;

}


#featuredproducts .pro {
    position: relative;
    width: 25%;
    min-width: 250px;
    padding: 10px 12px;
    margin: 15px 0;
    border: 2px solid var(--navbar-text);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 15px 15px 20px var(--btn);
    transition: 0.2s ease;

}

#featuredproducts .pro:hover {
    box-shadow: 20px 20px 30px var(--primary-shades);
}

#featuredproducts .pro img {
    width: 290px;
    height: 390px;
    border-radius: 20px;
}

#featuredproducts .pro .title {
    text-align: start;
}

#featuredproducts .pro .title span {
    position: absolute;
    bottom: 20px;
    padding-left: 11px;
    font-family: 'Anton', sans-serif;
    color: var(--main-color);
    font-size: 20px;
    text-transform: capitalize;

}

#featuredproducts .pro .title .star {
    position: absolute;
    top: 20px;
    padding-left: 19px;
}


#featuredproducts .pro .title i {
    padding-top: 10px;
    font-size: 13px;
    color: var(--star);

}

#featuredproducts .pro .title .h3 {
    position: absolute;
    bottom: 6px;
    padding-left: 155px;
    font-size: 16px;
    font-weight: 700;
    color: var(--star);
}

#featuredproducts .pro .title .price {
    position: absolute;
    bottom: 7px;
    padding-left: 200px;
    font-size: 21px;
    font-weight: 800;
    color: var(--white);
}

#featuredproducts .pro .add {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: var(--dark);
    font-weight: 500;
    position: absolute;
    bottom: 20px;
    right: 20px;
}


#featuredproducts .pro .add i {
    color: var(--white);
}

#featuredproducts .pro .add i:hover {
    color: var(--hepler-color);
}

/* creating news letter section */
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(/Images/banner.jpg);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    margin-top: 30px;
    height: 140px;
}

#newsletter .newstext {
    padding: 30px 40px;
}

#newsletter .form {
    padding: 30px 40px;
}

#newsletter h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: var(--white);
}

#newsletter p {
    font-family: cursive;
    font-size: 14px;
    font-weight: 500;
    color: var(--hepler-color);
}

#newsletter p span {
    color: var(--white);
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.15rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border: radius 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter .normal {
    background-color: #11503b;
    color: var(--white);
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#newsletter .form .normal {


    display: inline-block;
    padding: 7px 8px;
    border: none;
    height: 51px;
    width: 100px;
    color: var(--white);
    letter-spacing: 1px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#newsletter .form .normal:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--navbar-text);
    color: var(--white);
    z-index: -2;
}

#newsletter .form .normal:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--more-dark);
    transition: all 0.3s;
    z-index: -1;
}


#newsletter .form .normal:hover {
    color: var(--white);
}

#newsletter .form .normal:hover:before {
    width: 100%;
}

#newsletter .form .normal a {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: var(--white);
}




/* Creating footer section*/
footer {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .col .logoimg {

    margin-bottom: 20px;
}

footer .copyright {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;

}

footer h2 {
    margin: 0 0 8px 0;

}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 14px;
    text-decoration: none;
    color: var(--primary-color);
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;

}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    font-size: 30px;
    color: var(--para-color);
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
    color: var(--more-dark);
}