/* :root{
	--main: #6fef68 ;
	--darkblue: #362078;
	--black: #060606;
	--white: #e7dff4;

} */

/* colors for all css */
:root {


  --main-color: #087f5b;
  --primary-color: #2f9e44;
  --primary-shades: #1d8832;
  --para-color: #868e96;
  --hepler-color: #ffec99;
  --white: #fff;
  --dark: #6dbb7c;
  --tree: #2f9e44;
  --btn: #6dbb7c;
  --black: #000000;
  --navbar-text: #59b46a;
  --more-dark: #005d22;
  --main: #11503b;
  --star: #ffbf00;

}

* {
  margin: 0px;
  padding: 0px;
  font-family: system-ui;
}


#hdr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  padding: 20px 80px;
  background: var(--main);
  box-shadow: 0px 5px 15px var(--tree);
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
}

/* css for logo img and logo text in navbar */
.logoimg {
  height: 80px;
}

.logo-manage {
  display: flex;
  align-items: center;
  justify-content: center;

}

.logo {
  padding: 0 10px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: var(--white);
}

/* creating navbar starts */
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;

}

#navbar li a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: var(--white);
  transition: 0.3s ease;
}

#navbar li a:hover {
  color: var(--btn);
}

#navbar li a:hover,
#navbar li a.active {
  color: var(--btn);

}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: var(--btn);
  position: absolute;
  bottom: -4px;
  left: 20px;

}

/* for navbar sign up button(css)*/

.btn-navbar {

  display: inline-block;
  padding: 7px 8px;
  border: none;
  border-radius: 160px;
  color: var(--white);
  letter-spacing: 1px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn-navbar:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navbar-text);
  color: var(--white);
  border-radius: 160px;
  z-index: -2;
}

.btn-navbar:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--main-color);
  transition: all 0.3s;
  border-radius: 160px;
  z-index: -1;
}

.btn-navbar:hover {
  color: var(--white);
}

.btn-navbar:hover:before {
  width: 100%;
}

.clearfix {
  clear: both;
}

.container {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
}

.col-div-6 {
  width: 50%;
  float: left;
}

  
  


.col-div-6 img {
  height: 300px;
  width: 400px;
}



.banner-section {
  background: var(--navbar-text);
  height: 400px;
  overflow: hidden;
}

.heading {
  color: var(--white);
  font-size: 40px;
  letter-spacing: 1px;
  margin-top: 14%;
}

.p1 {
  color: white;
  width: 395px;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-size: 14px;
}

.ban-img {
  width: 250px;
  margin-bottom: -50px;

}

.b-img {
  width: 100%;
  border-radius: 10px;
}

.heading1 {
  margin-top: 20px;
  color: var(--main);
  font-size: 14px;
  text-transform: uppercase;
}

.blog-heading {
  font-size: 29px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--black);
}

.text {
  font-size: 13px;
  letter-spacing: 1px;
  color: var(--black);
  margin-bottom: 20px;
}

.name {
  text-transform: uppercase;
  font-weight: 600;
  color: #a1a1a1;
  font-size: 14px;
}

.b-img-1 {
  width: 100%;
  height: 160px;
  border-radius: 10px;
  margin-top: 7px;
}

.blog-heading-1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--black);
}

.line {
  width: 100%;
  margin-top: 15px;
  border: none;
  height: 1px;
  background: #ddd;
}

.box-1:hover {
  opacity: 0.9;
  cursor: pointer;
}


#dots {
  display: inline;
}

#more {
  display: none;
}

.col-div-5 {
  float: none;

}

#dots1 {
  display: inline;
}

#more1 {
  display: none;
}

#dots2 {
  display: inline;
}

#more2 {
  display: none;
}

#myBtn,
#myBtn1,
#myBtn2 {
  background-color: #0077C9;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

#myBTn,
#myBtn1,
#myBtn2 {
  background-color: #0366d6;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
